@{
    var F = Html.F();
}

@using FineUICore


<!DOCTYPE html>
<html>
<head>
    <title>停车场管理系统</title>

    @F.RenderCss()
    <link href="~/res/css/common.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    @RenderSection("head", false)

</head>

<body>
    @Html.AntiForgeryToken()

    @{
        var pm = F.PageManager;
        //pm.CustomTheme(String.Empty);
        //强制设置主题
        pm.CustomTheme("image_black_sky");
        // 主题
        //var themeCookie = Context.Request.Cookies["Theme"];
        //if (!String.IsNullOrEmpty(themeCookie))
        //{
        //    Theme theme;
        //    if (Enum.TryParse<Theme>(themeCookie, true, out theme))
        //    {
        //        pm.CustomTheme(String.Empty);
        //        pm.Theme(theme);
        //    }
        //    else
        //    {
        //        pm.CustomTheme(themeCookie);
        //    }
        //}
    }
    @F.PageManager

    @RenderSection("body", true)

    @F.RenderScript()
    @RenderSection("script", false)

</body>
</html>