@page
@model Park.Admin.Pages.Admin.RolePowerModel
@{
    ViewData["Title"] = "RolePower";
    var Grid1PagingInfo = Model.Grid1PagingInfo;
    var Grid2PagingInfo = Model.Grid2PagingInfo;

}

@section head {

    <style>
        ul.powers {
            margin: 0;
            padding: 0;
        }

            ul.powers li {
                margin: 5px 15px 5px 0;
                display: inline-block;
                min-width: 150px;
            }

                ul.powers li input {
                    vertical-align: middle;
                }

                ul.powers li label {
                    margin-left: 5px;
                }

        /* 自动换行，放置权限列表过长 */
        .f-grid-row .f-grid-cell-inner {
            white-space: normal;
        }
    </style>

}

@section body {

    <f:RegionPanel ID="RegionPanel1" ShowBorder="false" IsViewPort="true">
        <Regions>
            <f:Region ID="Region1" ShowBorder="false" ShowHeader="false" Width="200" RegionPosition="Left" Layout="Fit" BodyPadding="5">
                <Items>
                    <f:Grid ID="Grid1" ShowBorder="true" ShowHeader="false" EnableCheckBoxSelect="false" DataIDField="ID" DataTextField="Name"
                            AllowSorting="true" ClearSelectionBeforeSorting="false" EnableMultiSelect="false"
                            SortField="@Grid1PagingInfo.SortField" SortDirection="@Grid1PagingInfo.SortDirection" SelectedRowID="@Model.Grid1SelectedRowID" DataSource="@Model.Roles"
                            OnSort="@Url.Handler("RolePower_Grid1_Sort")" OnSortFields="Grid1">
                        <Listeners>
                            <f:Listener Event="rowclick" Handler="RolePower_Grid2_DoPostBack();"></f:Listener>
                        </Listeners>
                        <Columns>
                            <f:RowNumberField></f:RowNumberField>
                            <f:RenderField For="Roles.First().Name" SortField="Name" ExpandUnusedSpace="true"></f:RenderField>
                        </Columns>
                    </f:Grid>
                </Items>
            </f:Region>
            <f:Region ID="Region2" ShowBorder="false" ShowHeader="false" RegionPosition="Center" Layout="VBox" BodyPadding="5px 5px 5px 0">
                <Items>
                    <f:Grid ID="Grid2" BoxFlex="1" ShowBorder="true" ShowHeader="false" AllowSorting="true" SortField="@Grid2PagingInfo.SortField"
                            SortDirection="@Grid2PagingInfo.SortDirection" DataSource="@Model.GroupPowers">
                        <Listeners>
                            <f:Listener Event="sorting" Handler="RolePower_Grid2_DoPostBack();"></f:Listener>
                            <f:Listener Event="beforerowcontextmenu" Handler="onGrid2Contextmenu"></f:Listener>
                        </Listeners>
                        <Toolbars>
                            <f:Toolbar ID="Toolbar1">
                                <Items>
                                    <f:Button ID="btnSelectAll" Text="全选">
                                        <Listeners>
                                            <f:Listener Event="click" Handler="selectPowerCheckboxs(true);"></f:Listener>
                                        </Listeners>
                                    </f:Button>
                                    <f:Button ID="btnSelectAll" Text="反选">
                                        <Listeners>
                                            <f:Listener Event="click" Handler="selectPowerCheckboxs(false);"></f:Listener>
                                        </Listeners>
                                    </f:Button>
                                    <f:ToolbarSeparator></f:ToolbarSeparator>
                                    <f:Button ID="btnGroupUpdate" Icon="GroupEdit" Text="更新当前角色权限" Enabled="@Model.PowerCoreRolePowerEdit">
                                        <Listeners>
                                            <f:Listener Event="click" Handler="RolePower_Grid2_DoPostBack('saveall');"></f:Listener>
                                        </Listeners>
                                    </f:Button>
                                </Items>
                            </f:Toolbar>
                        </Toolbars>
                        <Columns>
                            <f:RowNumberField EnablePagingNumber="true"></f:RowNumberField>
                            <f:RenderField For="GroupPowers.First().GroupName" SortField="GroupName" Width="120"></f:RenderField>
                            <f:RenderField For="GroupPowers.First().Powers" ExpandUnusedSpace="true" RendererFunction="renderPowers"></f:RenderField>
                        </Columns>
                    </f:Grid>
                </Items>
            </f:Region>
        </Regions>
    </f:RegionPanel>

    <f:Menu ID="Menu2">
        <Items>
            <f:MenuButton ID="menuSelectRows" Text="全选行">
                <Listeners>
                    <f:Listener Event="click" Handler="selectPowerCheckboxs(true);"></f:Listener>
                </Listeners>
            </f:MenuButton>
            <f:MenuButton ID="menuUnSelectRows" Text="取消行">
                <Listeners>
                    <f:Listener Event="click" Handler="selectPowerCheckboxs(false);"></f:Listener>
                </Listeners>
            </f:MenuButton>
        </Items>
    </f:Menu>

}


@section script {

    <script>

        var checkboxSelector = '.powers input[type=checkbox]',
            selectedRowSelector = '.f-grid-row-selected',
            selectedRowCheckboxSelector = selectedRowSelector + ' ' + checkboxSelector;

        function onGrid2Contextmenu(event, rowId, rowIndex) {
            F.ui.Menu2.show();
            return false;
        }

        function renderPowers(value, params) {
            var html = ['<ul class="powers">'];
            $.each(value, function (index, item) {
                var itemId = 'power_checkbox_' + item.id;
                var itemHtml = F.formatString('<li><span data-qtip="{0}">', item.name);
                itemHtml += F.formatString('<input id="{0}" type="checkbox" value="{1}">', itemId, item.id);
                itemHtml += F.formatString('<label for="{0}">{1}</label>', itemId, item.title);
                itemHtml += '</span></li>';
                html.push(itemHtml);
            });
            html.push('</ul>');
            return html.join('');
        }

        function getAllCheckboxEls() {
            return F.ui.Grid2.el.find(checkboxSelector);
        }

        function selectPowerCheckboxs(checked) {
            var selectedRows = F.ui.Grid2.el.find(selectedRowSelector);
            if (selectedRows.length) {
                F.ui.Grid2.el.find(selectedRowCheckboxSelector).prop('checked', checked);
            } else {
                F.ui.Grid2.el.find(checkboxSelector).prop('checked', checked);
            }
        }


        function updateRolePowers(powerIds) {
            getAllCheckboxEls().each(function () {
                var checkboxEl = $(this), checkboxValue = parseInt(checkboxEl.val(), 10);
                if ($.inArray(checkboxValue, powerIds) >= 0) {
                    checkboxEl.prop('checked', true);
                } else {
                    checkboxEl.prop('checked', false);
                }
            });
        }


        function RolePower_Grid2_DoPostBack(actionType) {
            var params = {
                selectedRoleID: F.ui.Grid1.getSelectedRow()
            };

            // 加入扩展参数
            if (actionType) {
                params.actionType = actionType;
            }

            // saveall
            if (actionType === 'saveall') {
                var selectedPowerIDs = [];
                getAllCheckboxEls().each(function () {
                    var checkboxEl = $(this), checkboxValue = parseInt(checkboxEl.val(), 10);
                    if (checkboxEl.prop('checked')) {
                        selectedPowerIDs.push(checkboxValue);
                    }
                });
                params.selectedPowerIDs = selectedPowerIDs;
            }

            // 触发后台事件
            F.doPostBack('@Url.Handler("RolePower_Grid2_DoPostBack")', 'Region2', params);
        }

        F.ready(function () {

            updateRolePowers(@Model.RolePowerIds);

        });

    </script>
}

