@page
@model Park.Mgt.Pages.Admin.DeptUserModel
@{
    ViewData["Title"] = "DeptUser";
    var Grid2PagingInfo = Model.Grid2PagingInfo;
}


@section body {

    <f:RegionPanel ID="RegionPanel1" ShowBorder="false" IsViewPort="true">
        <Regions>
            <f:Region ID="Region1" ShowBorder="false" ShowHeader="false" Width="200" RegionPosition="Left" Layout="Fit" BodyPadding="5">
                <Items>
                    <f:Grid ID="Grid1" ShowBorder="true" ShowHeader="false" EnableCheckBoxSelect="false" DataIDField="ID" DataTextField="Name"
                            EnableMultiSelect="false" DataSource="@Model.Depts" SelectedRowID="@Model.Grid1SelectedRowID" ClearSelectionBeforeSorting="false" EnableSimulateTree="true">
                        <Listeners>
                            <f:Listener Event="rowclick" Handler="DeptUser_Grid2_DoPostBack();"></f:Listener>
                        </Listeners>
                        <Columns>
                            <f:RowNumberField></f:RowNumberField>
                            <f:RenderField For="Depts.First().Name" SortField="Name" ExpandUnusedSpace="true" DataSimulateTreeLevelField="TreeLevel"></f:RenderField>
                        </Columns>
                    </f:Grid>
                </Items>
            </f:Region>
            <f:Region ID="Region2" ShowBorder="false" ShowHeader="false" RegionPosition="Center" Layout="VBox" BodyPadding="5px 5px 5px 0">
                <Items>
                    <f:Form ID="Form3" ShowBorder="false" ShowHeader="false" LabelAlign="Right">
                        <Rows>
                            <f:FormRow>
                                <Items>
                                    <f:TwinTriggerBox ID="ttbSearchMessage" ShowLabel="false" EmptyText="在用户名称中搜索" Trigger1Icon="Clear" Trigger2Icon="Search" ShowTrigger1="false">
                                        <Listeners>
                                            <f:Listener Event="trigger1click" Handler="DeptUser_Grid2_DoPostBack('trigger1');"></f:Listener>
                                            <f:Listener Event="trigger2click" Handler="DeptUser_Grid2_DoPostBack('trigger2');"></f:Listener>
                                        </Listeners>
                                    </f:TwinTriggerBox>
                                    <f:label></f:label>
                                </Items>
                            </f:FormRow>
                        </Rows>
                    </f:Form>
                    <f:Grid ID="Grid2" BoxFlex="1" ShowBorder="true" ShowHeader="false" EnableCheckBoxSelect="true" DataIDField="ID" DataTextField="Name"
                            AllowSorting="true" AllowPaging="true" IsDatabasePaging="true" SortField="@Grid2PagingInfo.SortField"
                            SortDirection="@Grid2PagingInfo.SortDirection" PageSize="@Grid2PagingInfo.PageSize" RecordCount="@Grid2PagingInfo.RecordCount" DataSource="@Model.Users">
                        <Listeners>
                            <f:Listener Event="sorting" Handler="DeptUser_Grid2_DoPostBack();"></f:Listener>
                            <f:Listener Event="paging" Handler="DeptUser_Grid2_DoPostBack();"></f:Listener>
                        </Listeners>
                        <Toolbars>
                            <f:Toolbar ID="Toolbar1">
                                <Items>
                                    <f:Button ID="btnDeleteSelected" Icon="Delete" Text="从当前部门移除选中的用户" Enabled="@Model.PowerCoreDeptUserDelete">
                                        <Listeners>
                                            <f:Listener Event="click" Handler="onDeleteSelectedClick"></f:Listener>
                                        </Listeners>
                                    </f:Button>
                                    <f:ToolbarFill></f:ToolbarFill>
                                    <f:Button ID="btnNew" Icon="Add" Text="添加用户到当前部门" Enabled="@Model.PowerCoreDeptUserNew">
                                        <Listeners>
                                            <f:Listener Event="click" Handler="onNewClick"></f:Listener>
                                        </Listeners>
                                    </f:Button>
                                </Items>
                            </f:Toolbar>
                        </Toolbars>
                        <PageItems>
                            <f:ToolbarSeparator></f:ToolbarSeparator>
                            <f:ToolbarText Text="每页记录数："></f:ToolbarText>
                            <f:DropDownList ID="ddlGridPageSize" Width="80" SelectedValue="@Grid2PagingInfo.PageSize.ToString()">
                                <Listeners>
                                    <f:Listener Event="change" Handler="DeptUser_Grid2_DoPostBack('changeGridPageSize');"></f:Listener>
                                </Listeners>
                                <Items>
                                    <f:ListItem Text="10" Value="10"></f:ListItem>
                                    <f:ListItem Text="20" Value="20"></f:ListItem>
                                    <f:ListItem Text="50" Value="50"></f:ListItem>
                                    <f:ListItem Text="100" Value="100"></f:ListItem>
                                </Items>
                            </f:DropDownList>
                        </PageItems>
                        <Columns>
                            <f:RowNumberField EnablePagingNumber="true"></f:RowNumberField>
                            <f:RenderField For="Users.First().Name" SortField="Name" Width="100"></f:RenderField>
                            <f:RenderField For="Users.First().ChineseName" SortField="ChineseName" Width="100" />
                            <f:RenderCheckField For="Users.First().Enabled" SortField="Enabled" RenderAsStaticField="true" Width="80" />
                            <f:RenderField For="Users.First().Gender" SortField="Gender" Width="50" />
                            <f:RenderField For="Users.First().Email" SortField="Email" Width="180" />
                            <f:RenderField For="Users.First().Remark" ExpandUnusedSpace="true" />
                            <f:RenderField EnableColumnHide="false" EnableHeaderMenu="false" Width="50" RendererFunction="renderActionView"></f:RenderField>
                            <f:RenderField EnableColumnHide="false" EnableHeaderMenu="false" Width="50" RendererFunction="renderActionDelete"></f:RenderField>
                        </Columns>
                    </f:Grid>
                </Items>
            </f:Region>
        </Regions>
    </f:RegionPanel>

    <f:Window ID="Window1" IsModal="true" Hidden="true" Target="Top" EnableResize="true" EnableMaximize="true" EnableIFrame="true"
              Width="900" Height="550">
        <Listeners>
            <f:Listener Event="close" Handler="DeptUser_Grid2_DoPostBack();"></f:Listener>
        </Listeners>
    </f:Window>

}

@section script {

    <script>

        var coreDeptUserDelete = @Convert.ToString(Model.PowerCoreDeptUserDelete).ToLower();

        function onNewClick(event) {
            var selectedRowData = F.ui.Grid1.getSelectedRow(true);
            var url = '@Url.Content("~/Admin/DeptUserNew?deptID=")' + selectedRowData.id;
            F.ui.Window1.show(url, '添加用户到当前部门（' + selectedRowData.text  + '）');
        }

        function renderActionView(value, params) {
            var imageUrl = '@Url.Content("~/res/icon/information.png")';
            return '<a class="action-btn view" href="javascript:;"><img class="f-grid-cell-icon" src="' + imageUrl + '"></a>';
        }

        function renderActionDelete(value, params) {
            var imageUrl = '@Url.Content("~/res/icon/delete.png")';
            var disabledCls = coreDeptUserDelete ? '' : ' f-state-disabled';
            return '<a class="action-btn delete'+ disabledCls +'" href="javascript:;"><img class="f-grid-cell-icon" src="' + imageUrl + '"></a>';
        }


        function onDeleteSelectedClick(event) {
            var grid2 = F.ui.Grid2;

            if (!grid2.hasSelection()) {
                F.alert('请至少选择一项！');
                return;
            }

            var selectedRows = grid2.getSelectedRows();
            F.confirm({
                message: '你确定要删除选中的&nbsp;<b>' + selectedRows.length + '</b>&nbsp;行数据吗？',
                target: '_top',
                ok: function () {
                    // 触发后台事件
                    DeptUser_Grid2_DoPostBack("delete", {
                        deletedUserIDs: selectedRows
                    });
                }
            });
        }


        function DeptUser_Grid2_DoPostBack(actionType, actionParams) {
            var params = {
                selectedDeptId: F.ui.Grid1.getSelectedRow()
            };

            // 加入扩展参数
            if(actionType) {
                params.actionType = actionType;
            }
            if(actionParams) {
                $.extend(params, actionParams);
            }

            // 触发后台事件
            F.doPostBack('@Url.Handler("DeptUser_Grid2_DoPostBack")', 'Region2', params);
        }

        F.ready(function () {

            var grid2 = F.ui.Grid2;
            grid2.el.on('click', 'a.action-btn', function (event) {
                var cnode = $(this);
                var rowData = grid2.getRowData(cnode.closest('.f-grid-row'));

                // 是否禁用
                if(cnode.hasClass('f-state-disabled')) {
                    return;
                }

                if (cnode.hasClass('delete')) {
                    F.confirm({
                        message: '确定删除此记录？',
                        target: '_top',
                        ok: function () {
                            // 触发后台事件
                            DeptUser_Grid2_DoPostBack("delete", {
                                deletedUserIDs: [rowData.id]
                            });
                        }
                    });
                } else if (cnode.hasClass('view')) {
                    F.ui.Window1.show('@Url.Content("~/Admin/UserView?id=")' + rowData.id, "查看用户信息");
                }
            });

        });

    </script>
}

