@page
@model Park.Admin.Pages.Overview.ChartsContentModel
@using System.Linq
@{
    ViewBag.Title = "";
    Layout = "";
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" style="height: 100%">
<head>
    <title></title>
    <script src="~/res/js/echarts.min.js"></script>
    <style>
        body {
            height: 100%;
            margin: 0;
            overflow: hidden;
            padding: 12px;
            color: white;
            background: radial-gradient(#0426b4, #010938);
        }

        .left {
            height: 100%;
            width: 240px;
            float: left;
            overflow-y: auto
        }
        .left::-webkit-scrollbar {
            width: 0 !important
        }

        .right {
            height: 100%;
            width: 240px;
            float: right;
            margin-top: 24px;
            overflow-y:auto
        }
            .right::-webkit-scrollbar {
                width: 0 !important
            }

            .right img {
                width: 100%;
            }

        .center {
            height: 100%;
            margin-left: 240px;
            margin-right: 240px
        }

        #full {
            position: absolute;
            top: 12px;
            right: 12px;
            background-color: black;
            color:white;
            opacity: 0.5;
            border: none;
        }

            #full:hover {
                opacity: 1;
            }

        .status {
            border-width: 4px;
            border-color: white;
            border: solid;
            text-align: center;
            border-radius: 4px;
            margin-bottom:12px
        }

            .status a {
                font-size: 2.5rem
            }

            .status div {
                font-size: 1.5rem;
                background: white;
                width: 100%;
                height: 30px;
                color: black
            }
        .dayCharts{
            position:absolute;
            bottom:12px;
            left:12px;
            width:240px;
        }
      
    </style>
</head>
<body>
    <div class="left">
        <div class="status">
            <a>@ViewBag.Status.Total</a>
            <div>车位总数</div>
        </div>   
        <div class="status">
            <a>@ViewBag.Status.Used</a>
            <div>已用车位</div>
        </div>
        <div class="status">
            <a>@ViewBag.Status.Empty</a>
            <div>剩余车位</div>
        </div>
        <div class="status">
            <a>@ViewBag.Status.TodayMoney 元</a>
            <div>当日营业额</div>
        </div>
        <br />
        <div class="dayCharts">
            <div id="chartEnterDays" style="height: 216px"></div>
            <div id="chartLeaveDays" style="height: 216px"></div>
        </div>
    </div>
    <div class="right">
        @{
            foreach (var park in ViewBag.Parks)
            {
                <h3>@park.Name</h3>
                <img src="data:image;base64,@System.Convert.ToBase64String(park.Map)" />
            }
        }

    </div>
    <div class="center">
        <div id="chartEnterHours" style="height: 50%"></div>
        <div id="chartLeaveHours" style="height: 50%"></div>
    </div>
    <button id="full" onclick="switchFullScreen(document.documentElement)">全屏</button>

    <script>


        window.onresize = function () {
            charts.forEach(p => {
                p.resize();
            })
        }
        let charts=[]
        function initChart(id,title,data,type) {
            let chart = echarts.init(document.getElementById(id));
            charts.push(chart);
            chart.setOption({
            title: {
                    text: title,
                    textStyle: {
                        color: '#ffffff',
                    },
                    left: 'center'
            },
            tooltip: {},
            xAxis: {
                type: 'time',
                axisLabel: {
                    show: true,
                    textStyle: {
                        color: '#ffffff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: ['white'],
                        width: 2
                    }
                },
            },
            yAxis: {
                axisLabel: {
                    textStyle: {
                        color: '#ffffff'
                    }
                },
                axisLine: {
                    lineStyle: {
                        color: ['white'],
                        width:2
                    }
                },

        },
            series: [{
                name: '数量',
                type: type,
                data: data,
                itemStyle: {
                    normal: {
                        color: '#acd081',
                        lineStyle: {
                            width: 3//设置线条粗细
                        }
                    }
                }
            }]
                });
        }

        initChart("chartLeaveHours", '当日停车场出场车辆', [@Html.Raw(string.Join(",", ViewBag.HoursLeave))],"bar")
        initChart("chartEnterHours", '当日停车场入场车辆', [@Html.Raw(string.Join(",", ViewBag.HoursEnter))], "bar")
        initChart("chartEnterDays", '近日停车场入场车辆', [@Html.Raw(string.Join(",", ViewBag.DaysEnter))], "line")
        initChart("chartLeaveDays", '近日停车场出场车辆', [@Html.Raw(string.Join(",", ViewBag.DaysEnter))], "line")
        function switchFullScreen(element) {
            if (isFullscreen()) {
                cancelFullScreen(element);
            }
            else {
                launchFullScreen(element);
            }
        }

        function launchFullScreen(element) {
            if (element.requestFullscreen) {
                element.requestFullscreen();
            } else if (element.msRequestFullscreen) {
                element.msRequestFullscreen();
            } else if (element.mozRequestFullScreen) {
                element.mozRequestFullScreen();
            } else if (element.webkitRequestFullscreen) {
                element.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
            }
        }
        function cancelFullScreen() {
            if (document.exitFullscreen) {
                document.exitFullscreen();
            } else if (document.msExitFullscreen) {
                document.msExitFullscreen();
            } else if (document.mozCancelFullScreen) {
                document.mozCancelFullScreen();
            } else if (document.webkitExitFullscreen) {
                document.webkitExitFullscreen();
            }
        }
        function isFullscreen() {
            return document.fullscreenElement ||
                document.msFullscreenElement ||
                document.mozFullScreenElement ||
                document.webkitFullscreenElement || false;
        }

        setInterval(() => location.reload(), 1000*60*2)
        //function requestFullScreen(element) {
        //    var requestMethod = element.requestFullScreen || element.webkitRequestFullScreen || element.mozRequestFullScreen || element.msRequestFullScreen;
        //    if (requestMethod) {
        //        requestMethod.call(element);
        //    } else if (typeof window.ActiveXObject !== "undefined") {
        //        var wscript = new ActiveXObject("WScript.Shell");
        //        if (wscript !== null) {
        //            wscript.SendKeys("{F11}");
        //        }
        //    }
        //}
    </script>
    <script src="~/res/js/canvas-nest.js" type="text/javascript" color="255,255,255"></script>
</body>
</html>
